$color-body-bg: #ffffff;
$color-success: #1dbc2c;
$color-danger: #ef5f3a;
$color-light-dark: #838383;
$color-link: #2b9cd4;

$font-primary: 'Open Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

$border-radius: 0.3125rem;
$border-color: #dddddd;

$animation-duration: 0.3s;
$animation-timing-function: ease-in;

/* Tooltip */
$tooltip-bg-color: #424242;
$tooltip-text-color: #ffffff;
$tooltip-min-height: 6.25rem;
$tooltip-border-radius: $border-radius;
$tooltip-triangle-width: 1.25rem;
$tooltip-triangle-spread: 0.875rem;
$tooltip-triangle-offset: 10%; /* Clockwise offset */
$tooltip-block-offset: $tooltip-triangle-spread*1.5;

/* Progress bar */
$progress-bar-start-color: $color-danger;
$progress-bar-end-color: $color-success;
$progress-bar-border-color: $border-color;
$progress-bar-bg-color: #fafafa;

/* Donation form */
$donation-form-border-color: $border-color;

/* Button */
$button-border-color: $border-color;

/* Input */
$input-border-color: $border-color;
