@import './bootstrap-helpers';
@import './variables';
@import './mixins';

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-family: $font-primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.text {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 1.25rem;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }
  }

  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-danger {
  color: $color-danger;
}

.link {
  @include transition();
  font-style: italic;
  color: $color-link;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: darken($color-link, 10%);
  }
}
