$font-directory: 'assets/fonts/';

@font-face {
  font-family: 'Open Sans';
  src: url('#{$font-directory}OpenSans-Regular.woff2') format('woff2'),
  url('#{$font-directory}OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$font-directory}OpenSans-Bold.woff2') format('woff2'),
  url('#{$font-directory}OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$font-directory}OpenSans-Italic.woff2') format('woff2'),
  url('#{$font-directory}OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
