@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/bootstrap-helpers';

:host {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: $tooltip-bg-color;
  color: $tooltip-text-color;
  min-height: $tooltip-min-height;
  border-radius: $tooltip-border-radius;
  padding: 0.25rem 0.5rem;

  @include media-breakpoint-up(sm) {
    padding: 0.75rem 1.5rem;
  }

  @include media-breakpoint-up(md) {
    padding: 1.5rem 2.5rem;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
}

:host(.on-top) {
  margin-bottom: $tooltip-block-offset;
  &:after {
    @include triangle(toBottom);
  }
}

:host(.on-bottom) {
  margin-top: $tooltip-block-offset;
  &:after {
    @include triangle(toTop);
  }
}

:host(.on-left) {
  margin-right: $tooltip-block-offset;
  &:after {
    @include triangle(toRight);
  }
}

:host(.on-right) {
  margin-left: $tooltip-block-offset;
  &:after {
    @include triangle(toLeft);
  }
}
