@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/bootstrap-helpers';

:host {
  width: 100%;
  padding: 0.875em 1.25em;
  font-family: $font-primary;
  line-height: 1.25em;
  font-weight: bold;
  border-radius: $border-radius;
  border: 2px solid $input-border-color;
  background-color: transparent;
  color: #3f3f3f;
  box-shadow: 0 3px 0 0 $border-color;
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  &:focus {
    border-color: darken($input-border-color, 10%);
  }
}
