@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/bootstrap-helpers';

$steps-amount: 100;

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid $progress-bar-border-color;
  background-color: $progress-bar-bg-color;
  height: 1rem;

  @include media-breakpoint-up(sm) {
    height: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    height: 1.75rem;
  }
}

.progress {
  @include transition;
  width: 0;
  height: 100%;
  background-color: $progress-bar-start-color;

  @for $i from 1 through $steps-amount {
    &.progress-#{$i}-of-#{$steps-amount} {
      width: $i/$steps-amount*100%;
      background-color: mix($progress-bar-end-color, $progress-bar-start-color, $i/$steps-amount*100);
    }
  }
}
