@import './styles/bootstrap-helpers';

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 0.25rem 0.5rem;

  @include media-breakpoint-up(sm) {
    padding: 0.75rem 1.5rem;
  }

  @include media-breakpoint-up(md) {
    padding: 1.5rem 3rem;
  }
}

app-progress-bar + app-donation-form,  app-donation-form + app-progress-bar{
  border-top-width: 0;
}
