<app-tooltip onTop>
  <p class="text"><span class="bold">$167</span> still needed for this project</p>
</app-tooltip>
<app-progress-bar progress="80"></app-progress-bar>
<app-donation-form></app-donation-form>
<app-button-group></app-button-group>

<hr style="margin: 2rem 0; width: 100%; height: 1px; background-color: #cccccc;">

<app-button-group></app-button-group>
<app-donation-form></app-donation-form>
<app-progress-bar progress="20"></app-progress-bar>
<app-tooltip onBottom>
  <p class="text"><span class="bold">$167</span> still needed for this project</p>
</app-tooltip>
<router-outlet></router-outlet>
