@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/bootstrap-helpers';

:host {
  @include transition;
  width: 100%;
  border: 2px solid $button-border-color;
  cursor: pointer;
  appearance: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.875em 1.25em;
  font-family: $font-primary;
  line-height: 1.25em;
  font-weight: $font-weight-bold;
  border-radius: $border-radius;
  opacity: 0.9;
  box-shadow: 0 3px 0 0 $border-color;
  background-color: #ffffff;
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  &:not([disabled]):hover, &:focus {
    text-decoration: none;
    opacity: 1;
    transform: translateY(-0.25rem);
  }
}

:host(.btn-primary) {
  background-color: $color-success;
  border-color: darken($color-success, 10%);
  box-shadow: 0 3px 0 0 darken($color-success, 10%);
  color: #ffffff;
}

:host(.btn-small) {
  font-size: 0.75rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.125rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}
