@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/bootstrap-helpers';

:host {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .row {
    @include make-row();
  }

  .col {
    @include make-col-ready();
    @include make-col(12);
    margin-top: 0.5rem;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
}
