<p class="text"><span class="text-danger">Only 3 days left</span> to fund this project.</p>
<p class="text">Join the <span class="text-bold">42</span> other donors who have already supported this project. Every dollar helps</p>
<form action="https://echo.htmlacademy.ru/" method="get" class="form">
  <div class="form-column">
    <label>
      <span class="visually-hidden">Enter the amount you want to donate:</span>
      <input type="number" name="donated-amount" required appInput>
    </label>
  </div>
  <div class="form-column">
    <button type="submit" appButton primary>Give Now</button>
  </div>
</form>
<a href="#" class="link">Why give 50$</a>
