@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/bootstrap-helpers';

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  width: 100%;
  border: 2px solid $donation-form-border-color;
  color: $color-light-dark;
  padding: 0.5rem 0.5rem;

  @include media-breakpoint-up(sm) {
    padding: 1rem 1.5rem;
  }

  @include media-breakpoint-up(md) {
    padding: 2rem 2.5rem;
  }

  .form {
    @include make-row();
  }

  .form-column {
    @include make-col-ready();
    @include make-col(12);
    margin: 0.5rem 0;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  label {
    width: 100%;
    display: inline-block;
    position: relative;

    &:after {
      content: '$';
      position: absolute;
      top: 50%;
      left: 0.5em;
      transform: translateY(-50%);
      color: $color-light-dark;
      font-weight: bold;
      font-size: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2rem;
      }
    }
  }

  .link {
    font-size: 1rem;
    margin-top: 0.5rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
      margin-top: 1rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}
